nav {
  background-color: #FFFFFF;
  width: 180px;
  padding: 15px;
  border-radius: 4px;
  margin-right: 20px;
  height: fit-content;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  /* Remove padding and color from here */
  cursor: pointer;
  margin-bottom: 2px; /* Add some space between items */
}

.nav-link {
  text-decoration: none;
  color: #2A5885;
  display: block;
  padding: 8px 10px; /* Add some horizontal padding */
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #F5F7FA;
  text-decoration: none;
}

.nav-link.active {
  background-color: #E5EBF1;
  color: #000000;
  font-weight: bold;
}
